.container{
    height: 98vh;
    max-width: 100%;
    /* background-color: black; */
    padding: 1px;
    overflow: hidden;
}

.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
   /* background-color: rgb(181, 233, 213); */
    
   
   margin: -2px;
}
.navdiv{
    position: fixed;
    width: 101%;
}
li{
    text-decoration: none;
    margin: 10px 3px;
    list-style-type: none;
}
.navbar a{
    color: darkblue;
    display: flex;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 19px;
    font-weight: bold;
    font-family: system-ui;
    
}
a:hover{
    color: green;
    font-size: 19px;
    text-decoration: underline;
}


.Name-details{
    margin: 7rem 1rem;
    padding: 3rem 18rem;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 28px;
}
#name{
    margin: 0rem 2rem;
    color: black;
    font-size: 70px;
}



h1{
    text-align: center;

}
h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: black;
}
.App{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: -1rem 3rem;
    color: white;
}
#abc{
  
    font-size: 28px;
    font-weight: 300;
   color: white;
}

.icons-apply{
    display: flex;
    padding: 0px 336px;
    justify-content: center;
    margin: -5rem 3rem;
    gap: 4px;
}

#github{
    margin: 0px 11px;
    /* padding: 12px 3px; */
    color: black;
}
#link{
    color: black;
}
#github:hover{
    color: yellow;
}
#link:hover{
    color: yellow;
}


/* responsive */

@media (max-width:600px) {
    .navbar{
        
        height: 9vh;
    }
    .navbar a{
        font-size: 13px;
    }
    .Name-details{
        margin: 5rem 0rem;
    padding: 1px 2px;
    }
    .icons-apply{
        padding: 3px 0px;
    }
    .App{
        font-size: 18px;
    }
    #abc{
        font-size: 20px;
    }
    h3{
        font-size: 24px;
    }
}


.cursor{
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8, 0 0 60px #2696E8, 0 0 100px #2696E8;
    transform: translate(-50%,-50%);
    animation: colors 5s infinite;
    display: none;
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#2696E8 ;
    opacity: 0.2;
    transform: translate(-30%,-30%);
}