.project-content{
    height: 12vh;
    width: 100%;
    display: flex;
   /* margin: 38px 3px; */
}
.pcontent h3{
    font-size: 27px;
    font-weight: bold;
   
}
.project-content h3{
    margin: 16px 46%;
    font-size: 32px;
    font-weight: bold;
   
}



.pcontent{
    display: flex;
    flex-direction: row;
    
}

.pcards{
    height: 60vh;
    width: 29%;
    border-radius: 10px;
    /* border: 1px solid black; */
    margin: 32px 25px;
    box-shadow: 0px 4px 8px 0px darkgrey;
}



p{
    padding: 24px 1px;
    font-size: 17px;
    margin: -30px 14px;
}
.p-desc1{
    font-size: 16px;
    margin: -30px 75px;
}
.p-desc2{
    font-size: 16px;
    margin: 15px 75px;
}
.p-desc3{
    font-size: 16px;
    margin: 15px 75px;
}

.icons-project{
    margin: 51px 130px;
}
#code{
    font-size: 20px;
    font-weight: bold;
}

span{
    font-size: 17px;
    font-weight: bold;
    color: black;
}